<p style="color: whitesmoke;">{{ resultats }} résultats pour Séries</p>

<div>
<div class="row" [@tvAppeared]="tvState" *ngFor="let tvs of tv">
    <div class="col-md-4 d-flex align-items-center">
      <img 
        [class]="tvs.poster_path ? 'img-thumbnail' : 'img-fluid'"
        [src]="tvs.poster_path ? ('https://image.tmdb.org/t/p/w500' + tvs.poster_path) : '../../../assets/Images/noPicture.png'" 
        [alt]="tvs.name"
        [routerLink]="['/tv-details', tvs.id]">
    </div>
    <div class="col-md-8">
      <dl class="tv">
        <dt *ngIf="tvs.name">{{ tvs.name }}</dt>
        <dt *ngIf="!tvs.name"> Titre inconnu </dt>
        <dd *ngIf="tvs.first_air_date">{{ tvs.first_air_date | date: 'dd/MM/yyyy' }}</dd>
        <dd *ngIf="!tvs.first_air_date">Date de sortie inconnue</dd>

      </dl>
      <button 
        class="btn btn-xs btn-info"
        [routerLink]="['/tv-details/', tvs.id]">
       + d'infos
      </button>
    </div>
  </div>
</div>

<!-- Pagination -->
<div class="row justify-content-center">
    <div class="col-1">
      <button (click)="movePage(-1)" *ngIf="page > 1" class="btn btn-primary btn-xs">Précédent</button>
    </div>
    <div class="col-2">
      <p *ngIf="maxPage === 1">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
        </p>
        <p *ngIf="maxPage === 2">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
        </p>
        <p *ngIf="maxPage === 3 && page === 1">
            <a style="color: blue;" (click)="movePage(page)">1 </a>
            <a (click)="movePage(page + 1)">2 </a>
            <a (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page == 2">
          <a (click)="movePage(page)">1 </a>
          <a style="color: blue;" (click)="movePage(page + 1)">2 </a>
          <a (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page === 3">
            <a (click)="movePage(page)">1 </a>
            <a (click)="movePage(page + 1)">2 </a>
            <a style="color: blue;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="page === 1 && maxPage > 3">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
          ... 
          <a (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page === 2 && maxPage > 3">
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
          ... 
          <a (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page > 2 && page < maxPage - 1 && maxPage > 3">
          <a (click)="movePage(1)">1 </a>
          ...
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
          ... 
          <a (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page == maxPage - 1 && maxPage > 3">
          <a (click)="movePage(1)">1 </a>
          ...
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }}</a>
        </p>
        <p *ngIf="page === maxPage && maxPage > 3">
          <a (click)="movePage(1)">1 </a>
          ...
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }}</a>
        </p>
      </div>
      <div class="col-1">
          <button (click)="movePage(0)" *ngIf="page < maxPage" class="btn btn-primary btn-xs">Suivant</button>
      </div>
</div>