a:hover
{
    background-color: blue;
}
.tv dt {
    font-size: 13px;
}

.tv dd {
    font-size: 12px;
}
.row{
    background-color: white;

}

h1{
    color: White;
}
.btn{
    font-size: 10px;
}
.mat-icon{
    color:blue;
}