<p style="color: whitesmoke;">{{ resultats }} résultats pour Personnes</p>                 

<div class="row" [@peopleAppeared]="peopleState" *ngFor="let peopl of people">
    <div class="col-md-4 d-flex align-items-center">
      <img 
        [class]="peopl.profile_path ? 'img-thumbnail' : 'img-fluid'"
        [src]="peopl.poster_path ? ('https://image.tmdb.org/t/p/w500' + peopl.poster_path) : '../../../assets/Images/noPicture.png'" 
        [alt]="peopl.name"
        [routerLink]="['/people-details', peopl.id]">
    </div>
    <div class="col-md-8">
      <dl class="peopl">
        <dt *ngIf="peopl.name">Nom:{{ peopl.name }}</dt>
        <dt *ngIf="!peopl.name"> Nom inconnu </dt>
        <dd *ngIf="peopl.known_for_department">Métier: {{ peopl.known_for_department }}</dd>
        <dd *ngIf="!peopl.known_for_department">Métier inconnue</dd>
      </dl>
      <button 
        class="btn btn-xs btn-info"
        [routerLink]="['/people-details/', peopl.id]">
       + d'infos
      </button>
    </div>
  </div>

  <!-- Pagination -->
<div class="row justify-content-center">
    <div class="col-1">
      <button (click)="movePage(-1)" *ngIf="page > 1" class="btn btn-primary btn-xs">Précédent</button>
    </div>
    <div class="col-2">
      <p *ngIf="maxPage === 1">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
        </p>
        <p *ngIf="maxPage === 2">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
        </p>
        <p *ngIf="maxPage === 3 && page === 1">
            <a style="color: blue;" (click)="movePage(page)">1 </a>
            <a (click)="movePage(page + 1)">2 </a>
            <a (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page == 2">
          <a (click)="movePage(page)">1 </a>
          <a style="color: blue;" (click)="movePage(page + 1)">2 </a>
          <a (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page === 3">
            <a (click)="movePage(page)">1 </a>
            <a (click)="movePage(page + 1)">2 </a>
            <a style="color: blue;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="page === 1 && maxPage > 3">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
          ... 
          <a (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page === 2 && maxPage > 3">
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
          ... 
          <a (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page > 2 && page < maxPage - 1 && maxPage > 3">
          <a (click)="movePage(1)">1 </a>
          ...
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }} </a>
          ... 
          <a (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page == maxPage - 1 && maxPage > 3">
          <a (click)="movePage(1)">1 </a>
          ...
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }} </a>
          <a (click)="movePage(page + 1)">{{ page + 1 }}</a>
        </p>
        <p *ngIf="page === maxPage && maxPage > 3">
          <a (click)="movePage(1)">1 </a>
          ...
          <a (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }}</a>
        </p>
      </div>
      <div class="col-1">
          <button (click)="movePage(0)" *ngIf="page < maxPage" class="btn btn-primary btn-xs">Suivant</button>
      </div>
</div>
