<div class="row">
<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                ©Copyright application web réalisée par AISSATOU Nana, CARDY Marine et RAMBAUD Clothilde <a href="https://bitbucket.org/movieblue/movieblue" target="_blank">@ACR</a>
            </div>
        </div>
    </div>
  </footer>
</div>