.footer {
    width: 100%;
    color: white;
    padding: 12px 0;
    font-size: 10px;
    background-color: #1e2229;
    -webkit-box-shadow: 0px -5px 37px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px -5px 37px 0px rgba(204,204,204,1);
    box-shadow: 0px -5px 37px 0px rgba(204,204,204,1);
    z-index: 1;
    text-align: center;
}