.fim .act .ser{
  color: white;
}
p:hover{
  cursor: pointer;
  color: blue;
}
.ser{
  margin-top: 1rem;
  margin-left: 1rem;
}

.act{
  margin-top: 1.3rem;
  margin-left: 1rem;
}

.imgo{
  margin-left: -1.7rem;
  margin-top: -1rem;
}
.imi{
  margin-left: 0.10rem;
}
.imo{
  margin-left: -0.60rem;
}

.fim{
  margin-top: 1rem;
  margin-left: 1rem;
}
.mat-nav-list .mat-list-item {
  font-size: 15px;
  color: white;
}
 a:hover {
   color:blue;
 }

 input
 {
     width: 600px;
     display: inline-block;
     
 }
 
 #suggestions
 {
     width: 300px;
     background-color: #1e2229;
     color: white;
     border-bottom: 1px solid white;
     list-style: none;
     display: block;
     
    
     
 }
 
 #suggestions:hover
 {
     color: black;
 }
 
 /* select {        // Supprime la flèche par défaut dans la dropdown liste
     -webkit-appearance: none;
     -moz-appearance: none;
     text-indent: 1px;
     text-overflow: '';
 }*/
 
 #logo
 {
     width: 120px;
     margin-top: -40px;
 }
 
 #NotFound {
     width: 45px;
 }
 
.form-row .btn .col{
  display: inline-block;
}

.inp{
  margin-left: 40%;
  width: 90%;
  //margin-top : -50%;
}


button.btn.btn-primary{
  margin-right: 70%;
}