<!-- Toolbar -->
<mat-toolbar class="header">
  <span class="nav-tool-items">
    <mat-icon  (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
   <span> <img class="imf" src="../../../../assets/Images/logo.png" height="80px" [routerLink]="'/'" ></span>
   
</mat-toolbar>
<section>
<div class="form-row">
    
      <input (focus)="begin()" (keyup)="search()" [(ngModel)]="recherche" class="form-control inp" placeholder="Recherche de films, séries, artistes..." type="text" style="width : 50%;margin-left: 25%; margin-top:-3.5%">
      
      <div class="col">
          <div class="col but">
              <button (click)="reset()" class="btn btn-primary" [routerLink]="['/onglets/', recherche, 1]" style="margin-top : -29%; margin-left: 1%;">Recherche</button>
            </div>
        <ul *ngIf="recherche != '' && recherche != null && flag === true" >
            <li id="suggestions" *ngFor="let resultat of resultats" style="width : 231%; margin-left : -243%;">
                <p (click)="reset()" *ngIf="resultat.media_type === 'movie'" [routerLink]="['/movie-details', resultat.id]">
                    <img *ngIf="resultat.poster_path" src="{{'http://image.tmdb.org/t/p/w45/' + resultat.poster_path}}"/>
                    {{ resultat.title }} - {{ resultat.release_date | date: 'yyyy' }}
                </p>
                <p (click)="reset()" *ngIf="resultat.media_type === 'tv'" [routerLink]="['/tv-details', resultat.id]">
                    <img *ngIf="resultat.poster_path" src="{{'http://image.tmdb.org/t/p/w45/' + resultat.poster_path}}"/>
                    {{ resultat.name }} - {{ resultat.first_air_date | date: 'yyyy' }}
                </p>
                <p (click)="reset(resultat.id)" *ngIf="resultat.media_type === 'person'" [routerLink]="['/people-details', resultat.id]">
                    <img *ngIf="resultat.profile_path" src="{{'http://image.tmdb.org/t/p/w45/' + resultat.profile_path}}"/>  
                    {{ resultat.name }}
                </p>
            </li>
          </ul>
    </div>
    
</div>

</section>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon><img class="imi"  src="../../../../assets/Images/movie.png" height="25px"></mat-icon> <div  class="fim"><a (click)="sidenav.close()" routerLink= "/movies" >Films</a></div>
      </a>
      <a mat-list-item>
        <mat-icon><img class="imo" src="../../../../assets/Images/tv.png" height="40px"></mat-icon> <div  class="ser"><a (click)="sidenav.close()" routerLink="/tv" >Series TV</a></div>
      </a>
      <a mat-list-item>
        <mat-icon><img class="imgo" src="../../../../assets/Images/acteur.png"  height="70px"></mat-icon> <div  class="act"><a (click)="sidenav.close()" routerLink="/people">Acteurs</a></div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
<mat-sidenav-content (click)="sidenav.close()">

<router-outlet></router-outlet>
<!--<app-footer></app-footer>-->
</mat-sidenav-content>
</mat-sidenav-container>
