
.movie-card{
  width: 100;
  display: inline-block;
  margin: 3em 1em 1em 2em;
}
.movie-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

h6 .movie-title{
    color: blue;
    width: auto;
    height: auto;
    display: inline-block;
}