<div class="container-fluid">
    <div class="row align-items-start justify-content-start">
        <div class="col-2">
            <ul id="onglets">
                <li><button class="btn btn-primary" [routerLink]="['/onglets/', recherche, 1]">Films</button></li>
                <br>
                <li><button class="btn btn-primary" [routerLink]="['/onglets/', recherche, 2]">Séries</button></li>
                <br>
                <li><button class="btn btn-primary" [routerLink]="['/onglets/', recherche, 3]">Personnes</button></li>
            </ul>
        </div>

        <div class="col-8">
            <app-movies-list *ngIf="code == 1"></app-movies-list>
            <app-tv-list *ngIf="code == 2"></app-tv-list>
            <app-people-list *ngIf="code == 3"></app-people-list>
        </div>
    </div>
</div>
