<div *ngIf="details">
    <div class="detailFilm" >
           
        <div class="imageFilm">
            <img *ngIf="!details.poster_path" src="assets/Images/noPicture.png" style=" height: auto; margin-right: 2%; padding-right : 20px; border-right: 2px solid black; width: 300px;"/>
            <img *ngIf="details.poster_path" src="{{'http://image.tmdb.org/t/p/w300/' + details.poster_path}}" style="height: auto; padding-right : 20px; margin-right: 2%; border-right: 2px solid black;"/>
        </div>
        
       
        
        <div class="texte">
            <div class="titre">
                <h2>{{details.name}}</h2>
                <p *ngIf ="details.status === 'Released'" ><i>Sortie</i></p>
                <p *ngIf ="details.status === 'Returning Series'" ><i>Série renouvelée</i></p>
                <p *ngIf ="details.status === 'Ended'" ><i>Terminée</i></p>
                <p *ngIf ="details.status === 'Canceled'" ><i>Annulée</i></p>
            </div>
            <div class="vote">
                    <p>{{details.vote_average}}/10 <i>({{ details.vote_count }} votes )</i></p> 
            </div>
            <div *ngIf="details.genres" class="genres">
                <p *ngFor="let genre of details.genres" class="formegenres"> {{ genre.name }} </p>
            </div>
            
            
            <h5>Synopsis : </h5>
            <p>{{ details.overview }}</p>
            
            <p *ngIf="details.release_date">Date de sortie :  {{ details.release_date | date: 'dd/MM/yyyy' }}</p>
            <p *ngIf="!details.release_date">Date de sortie : Inconnue</p>
            <p *ngIf="details.budget">Budget : {{ details.budget }}$</p>
            
            <p *ngIf="details.original_title">Nom original : {{ details.original_title }}</p>
            <p *ngIf="details.language_title">Langue originale : {{ details.language_title }}</p>
            <p *ngIf="details.original_country">Pays d'origine : {{ details.original_country }}</p>
            <div><i>Dernier épisode :</i>
                <div>
                    <p>Nom : {{ details.last_episode_to_air.name }}</p>
                    <p>Numéro : {{ details.last_episode_to_air.episode_number }}</p>
                    <p>Saison : {{ details.last_episode_to_air.season_number }}</p>
                    <p>Date de sortie : {{ details.last_episode_to_air.air_date | date: 'dd/MM/yyyy'  }} </p>
                    <p>Note moyenne : {{ details.last_episode_to_air.vote_average }} <i>({{ details.last_episode_to_air.vote_count }} votes )</i></p>
                </div>
            </div>

            <p><a href="{{ details.homepage }}">Voir la page officielle</a></p> 

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <p>Chaînes de diffusion</p>
                    </mat-expansion-panel-header>
                    <div *ngFor="let chaine of details.networks" style="display: inline-block; text-align: center; padding-left: 1%;">
                        <p *ngIf="chaine.logo_path"><img src="{{'http://image.tmdb.org/t/p/w92/' + chaine.logo_path}}" /></p>
                        <p *ngIf="!chaine.logo_path"><img src="assets/Images/noPicture.png"/></p>
                
                        <div class="texteSaisons">
                            <p *ngIf="chaine.logo_name">{{ chaine.logo_name }}</p>
                            <p *ngIf="!chaine.logo_name">Nom inconnu</p>
                            <p *ngIf="chaine.origin_country">{{ chaine.origin_country }}</p>
                            <p *ngIf="!chaine.origin_country">Origine de la chaîne inconnue</p>
                             
                        </div>
                    </div>
                    
                </mat-expansion-panel>
            </mat-accordion>

        <div style="margin-top: 1%;">
            <mat-accordion >
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <p>Entreprises</p>
                    </mat-expansion-panel-header>
                    <div *ngFor="let entreprise of details.production_companies" style="display: inline-block; text-align: center; padding-left: 1%;">
                        <p *ngIf="entreprise.logo_path"><img src="{{'http://image.tmdb.org/t/p/w92/' + entreprise.logo_path}}"/></p>
                        <p *ngIf="!entreprise.logo_path"><img src="assets/Images/noPicture.png"/></p>
            
                        <div class="texteSaisons">
                            <p *ngIf="entreprise.origin_name">{{ entreprise.origin_name }}</p>
                            <p *ngIf="!entreprise.origin_name">Nom inconnu</p>
                            <p *ngIf="entreprise.origin_country">{{ entreprise.origin_country }}</p>
                            <p *ngIf="!entreprise.origin_country">Origine de l'entreprise inconnue</p>
                             
                        </div>
                    </div>
                    
                </mat-expansion-panel>
            </mat-accordion>
        </div>
            
           
           
    
    
</div> 



<div *ngIf="details.seasons" style="margin-top: 2%;">
        <div *ngFor="let saison of details.seasons">
                    
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <p>{{ saison.name }}</p>
                </mat-expansion-panel-header>
                <img src="{{'http://image.tmdb.org/t/p/w185/' + saison.poster_path}}"  style="float: left; padding-right: 1%;"/>
                <p *ngIf="!saison.poster_path"><img src="assets/Images/noPicture.png"  style="float: right; padding-right: 1%;"/></p>
                    
                <div class="texteSaisons">
                    <p><i>{{ saison.episode_count }} épisodes ({{ details.episode_run_time[0] }} mins) diffusés depuis le {{ saison.air_date | date: 'dd/MM/yyyy' }}</i></p>
                    <p>Synopsis : {{ saison.overview }}</p>
                     
                </div>
                
                
            </mat-expansion-panel>
        </mat-accordion>
        
        </div>
</div>

<div style="margin-top:1%;">
    <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <p>Casting</p>     
                </mat-expansion-panel-header>
                <div *ngFor="let cas of cast" style="display: inline-block; text-align: center; padding-left: 1%;">
                    <img *ngIf="!cas.profile_path" src="../assets/Images/noPicture.png" [routerLink]="['/people-details', cas.cast_id]"/>
                    <img *ngIf="cas.profile_path" src="{{'http://image.tmdb.org/t/p/w185/' + cas.profile_path}}" [routerLink]="['/people-details', cas.id]"/>              
                    <p *ngIf="cas.name">{{ cas.name }}</p>
                    <p *ngIf="cas.character" style="margin-top: -9%;"><i>{{ cas.character }}</i></p>
                            
                </div>
                    
            </mat-expansion-panel>
        </mat-accordion>
</div>

<div style="margin-top:1%;">
<mat-accordion>  
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p>Équipe de production</p>     
        </mat-expansion-panel-header>
        <div *ngFor="let cre of crew" style="display: inline-block; text-align: center; padding-left: 1%;">
            <img *ngIf="!cre.profile_path" src="assets/Images/noPicture.png" [routerLink]="['/people-details', cre.credit_id]"/>
            <img *ngIf="cre.profile_path" src="{{'http://image.tmdb.org/t/p/w185/' + cre.profile_path}}" [routerLink]="['/people-details', cre.id]"/>
            <p *ngIf="cre.name">{{ cre.name }}</p>
            <p *ngIf="cre.job" style="margin-top: -9%;"><i>{{ cre.job }}</i></p>
                    
        </div>
            
    </mat-expansion-panel>
</mat-accordion>
</div>



<mdb-carousel width = "20%" [animation]="'slide'" style="margin-top: 2%;">
    <mdb-carousel-item [routerLink]="['/movie-details', film.id]" *ngFor="let film of similar" style="width: 200px;height: 400px; align-items: center; margin-left: 40%;">
      <img *ngIf="film.poster_path" class="d-block w-100" src="{{'http://image.tmdb.org/t/p/w185/' + film.poster_path}}" alt="First slide"  >
      <img *ngIf="!film.poster_path" class="d-block w-100" src="assets/Images/noPicture.png" alt="First slide"  >
    </mdb-carousel-item>
    
  </mdb-carousel>