
.detailFilm{
    margin-top: 5%;
    margin-bottom: 5%;
   // height: auto;

}

.imageFilm{
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: -2%;
    margin-top : -3%;
    width: 300px;
    //height: 450px;
    box-shadow: 5px 5px 2px 1px rgba(7, 7, 7, 0.5);
    

    
}

.vote{
    margin-top: -30%;
    margin-left: 80%;
    display: inline-block;
    width : 200px;
    height: auto;
    
}
.vote p{
    color: #9254bb;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, #9254bb,  #0969fd);
    border-image-slice: 1;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.genres{
    margin-top : -3.3%;
    margin-left: -1%;
    margin-bottom: 1%;
}
.formegenres{
    text-align: center;
    margin-left: 1%;
    padding-left: 1%;
    padding-right : 1%;
    display: inline-flex;
    color: #17a2b8;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, #0969fd,  #17a2b8);
    border-image-slice: 1;

}
.texte{
    //border: solid green;
    width: auto;
    padding-left: 10px;
    margin-top: -28%;
    margin-left: 25%;
    color: whitesmoke;
    margin-bottom: 5%;
    
    
}
.texte h2{
    text-align: center; 
    font-weight: bold;
}

.titre p{
    text-align: center;
}
.texte p{
    margin-bottom: 2%;
}


