<div *ngIf="details">
        <div class="detailFilm" >
                
            <div class="imageFilm">
                <img *ngIf="!details.poster_path" src="../../../../assets/Images/noPicture.png" style=" height: auto; margin-right: 2%; padding-right : 20px; border-right: 2px solid black; width: 300px;"/>
                <img *ngIf="details.poster_path" src="{{'http://image.tmdb.org/t/p/w300/' + details.poster_path}}" style="height: auto; padding-right : 20px; margin-right: 2%; border-right: 2px solid black;"/>
            </div>
            
           
            
            <div class="texte">
                <div class="titre">
                    <h2 *ngIf="details.original_title">{{details.title}} <i>({{ details.original_title }})</i></h2>
                    <p *ngIf ="details.status === 'Released'" ><i>Sorti</i></p>
                    <p *ngIf ="details.status === 'In Production'" ><i>En production</i></p>
                </div>
                <div class="vote">
                        <p>{{ details.vote_average }}/10 <i>({{ details.vote_count }} votes )</i></p> 
                </div>
                <div *ngIf="details.genres" class="genres">
                    <p *ngFor="let genre of details.genres" class="formegenres"> {{ genre.name }} </p>
                </div>
                
                <h5>Synopsis : </h5>
                <p>{{ details.overview }}</p>
                
                <p>Durée : {{ details.runtime }} mins</p>
                <p>Date de sortie : {{ details.release_date | date: 'dd/MM/yyyy' }}</p>
                <p *ngIf="details.budget">Budget : {{ details.budget }}$</p>
                
                
                <p *ngIf="details.language_title">Langue originale : {{ details.language_title }}</p>
                <div *ngIf="details.companies">-- entreprises :
                    <div *ngFor="let entreprise of details.companies">
                        <p>{{ entreprise.name }}</p>
                        <p>{{ entreprise.origin_country }}</p>
                        <p><img *ngIf="entreprise.logo_path" src="{{'http://image.tmdb.org/t/p/w185/' + entreprise.logo_path}}"/></p>
                        <p><img *ngIf="!entreprise.logo_path" src="../../../../assets/Images/noPicture.png"/></p>
                    </div>
                </div>
                <div *ngIf="details.countries">Pays de production :
                    <div>
                        <p *ngFor="let pays of details.countries">{{ pays.name }}</p>
                    </div>
                </div>
                
                <p><a href="{{ details.homepage }}">Voir la page officielle</a></p>
                
            
            </div>
            
        </div>  
        
</div> 
<div style="margin-top: 20%; ">
    <mat-accordion >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <p>Vidéos</p>     
                </mat-expansion-panel-header>
                <div *ngFor="let video of videos" style="display: inline-flex; text-align: center; padding-right: 1%;">
                    <iframe width="340" height="200" [src]="videoURL(video.key)" frameborder="0"></iframe>       
                </div>
                    
            </mat-expansion-panel>
        </mat-accordion>
</div>
<div style="margin-top:1%;">
        <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <p>Casting</p>     
                    </mat-expansion-panel-header>
                    <div *ngFor="let cas of cast" style="display: inline-block; text-align: center;">
                        <img *ngIf="!cas.profile_path" src="../../../../assets/Images/noPicture.png" [routerLink]="['/people-details', cas.cast_id]"/>
                        <img *ngIf="cas.profile_path" src="{{'http://image.tmdb.org/t/p/w185/' + cas.profile_path}}" [routerLink]="['/people-details', cas.id]"/>              
                        <p *ngIf="cas.name">{{ cas.name }}</p>
                        <p *ngIf="cas.character" style="margin-top: -9%;"><i>{{ cas.character }}</i></p>
                                
                    </div>
                        
                </mat-expansion-panel>
            </mat-accordion>
</div>

<div style="margin-top:1%;">
    <mat-accordion>  
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <p>Équipe de production</p>     
            </mat-expansion-panel-header>
            <div *ngFor="let cre of crew" style="display: inline-block; text-align: center;">
                <img *ngIf="!cre.profile_path" src="assets/Images/noPicture.png" [routerLink]="['/people-details', cre.credit_id]"/>
                <img *ngIf="cre.profile_path" src="{{'http://image.tmdb.org/t/p/w185/' + cre.profile_path}}" [routerLink]="['/people-details', cre.id]"/>
                <p *ngIf="cre.name">{{ cre.name }}</p>
                <p *ngIf="cre.job" style="margin-top: -9%;"><i>{{ cre.job }}</i></p>
                        
            </div>
                
        </mat-expansion-panel>
    </mat-accordion>
</div>



<mdb-carousel width = "20%" [animation]="'slide'" style="margin-top: 2%;">
    <mdb-carousel-item  *ngFor="let film of similar" style="width: 200px;height: 400px; align-items: center; margin-left: 45%;">
      <img class="d-block w-100" *ngIf="film.poster_path" src="{{'http://image.tmdb.org/t/p/w185/' + film.poster_path}}" [routerLink]="['/movie-details', film.id]" alt="First slide" >
      <img class="d-block w-100" *ngIf="!film.poster_path" src="assets/Images/noPicture.png" [routerLink]="['/movie-details', film.id]" alt="First slide" >
    </mdb-carousel-item>
    
</mdb-carousel>




  

 