<div *ngIf="details">
        <div class="detailFilm" >
                
            <div class="imageFilm">
                <img *ngIf="!details.profile_path" src="assets/Images/noPicture.png" style=" height: auto; margin-right: 2%; padding-right : 20px; border-right: 2px solid black; width: 300px;"/>
                <img src="{{'http://image.tmdb.org/t/p/w185/' + details.profile_path}}" style=" height: auto; margin-right: 2%; padding-right : 20px; border-right: 2px solid black; width: 300px;"/> 
            </div>
            
            
            <div class="texte">
                <div class="titre">
                    <h2>{{ details.name }}<i>({{ details.also_known_as}})</i></h2>
                </div>
                <div class="vote">
                        <p>{{ details.popularity }} <i>(vues)</i></p> 
                </div>
                <p *ngIf ="details.known_for_department === 'Acting'" > Métier : Actrice / Acteur</p>
                <p *ngIf ="details.known_for_department === 'Writing'" >Métier : Scénariste</p>
                <p *ngIf ="details.known_for_department === 'Production'" >Métier : Productrice / Producteur</p>
                <p *ngIf ="details.known_for_department === 'Directing'" >Métier : Réalisatrice / Réalisateur</p>
                <p *ngIf="details.birthday">Date de naissance : {{ details.birthday | date: 'dd/MM/yyyy'}}</p>
                <p *ngIf="details.place_of_birth">Lieu de naissance : {{ details.place_of_birth }}</p>
                <p *ngIf="details.deathday">Date de mort : {{ details.deathday }}</p>
                <p *ngIf="details.gender == 1">Femme</p>
                <p *ngIf="details.gender == 2">Homme</p>
                <p *ngIf="details.biography">Biographie : <br/>{{ details.biography }}</p>
                <p><a href="{{ details.homepage }}">Voir la page officielle</a></p>
              
            </div>
            
        </div>  
        
</div> 
 
<div style="margin-top:8%;">
        <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <p>Filmographie</p>     
                    </mat-expansion-panel-header>
                    <div *ngFor="let credit of credits.cast"  style="display: inline-block; text-align: center;" class="job">
                        <img *ngIf="!credit.poster_path" src="assets/Images/noPicture.png" [routerLink]="['/movie-details', credit.id]"/>
                        <img *ngIf="credit.poster_path" src="{{'http://image.tmdb.org/t/p/w185/' + credit.poster_path}}" [routerLink]="['/movie-details', credit.id]"/>
                        <p *ngIf="credit.title">{{ credit.title }}</p>
                        <p *ngIf="!credit.title">Titre : Inconnu</p>
                        <p *ngIf="credit.release_date">Date de sortie : {{ credit.release_date | date: 'dd/MM/yyyy' }}</p>
                        <p *ngIf="!credit.release_date">Date de sortie : Inconnue</p>
                        <p *ngIf="credit.character">{{ credit.character }}</p>
                        <p *ngIf="!credit.character">Personnage : Inconnu</p>
                                
                    </div>
                        
                </mat-expansion-panel>
            </mat-accordion>
</div>

<div style="margin-top:1%; margin-bottom : 8%;">
        <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <p>Equipe Technique</p>     
                    </mat-expansion-panel-header>
                    <div *ngFor="let credit of credits.crew"  style="display: inline-block; text-align: center;" class="job">
                        <img *ngIf="!credit.poster_path" src="assets/Images/noPicture.png" [routerLink]="['/movie-details', credit.id]"/>
                        <img *ngIf="credit.poster_path" src="{{'http://image.tmdb.org/t/p/w185/' + credit.poster_path}}" [routerLink]="['/movie-details', credit.id]"/>
                        <p *ngIf="credit.title">{{ credit.title }}</p>
                        <p *ngIf="!credit.title">Titre : Inconnu</p>
                        <p *ngIf="credit.release_date">Date de sortie : {{ credit.release_date | date: 'dd/MM/yyyy' }}</p>
                        <p *ngIf="!credit.release_date">Date de sortie : Inconnue</p>
                        <p *ngIf ="credit.job === 'Producer'" > Métier : Productrice / Producteur</p>
                        <p *ngIf ="credit.job === 'Script'" > Métier : Scripteur</p>
                        <p *ngIf ="credit.job === 'Cinematography'" > Métier : Cinématographie</p>
                        <p *ngIf ="credit.job === 'Director'" > Métier : Directrice / Directeur</p>
                        <p *ngIf ="credit.job === 'Editor'" > Métier : Éditrice / Éditeur</p>
                        <p *ngIf ="credit.job === 'Executive Producer'" > Métier : Productrice Exécutive/ Producteur Exécutif</p>
                        <p *ngIf ="credit.job === 'Production Director'" > Métier : Directrice de production / Directeur de production</p>
                        <p *ngIf ="credit.job === 'Co-Producer'" > Métier : Co-Productrice / Co-Producteur</p>
                        <p *ngIf ="credit.job === 'Screenplay'" > Métier : Scénariste</p>
                        <p *ngIf ="credit.job === 'Story'" > Métier : Réalisatrice / Réalisateur</p>
                        <p *ngIf ="credit.job === 'Author'" > Métier : Auteure / Auteur</p>
                        <p *ngIf ="credit.job === 'Writer'" > Métier : Écrivaine / Écrivain</p>
                        <p *ngIf ="credit.job === 'Adaptation'" > Métier : Adaptation</p>
                        <p *ngIf ="credit.job === 'Idea'" > Métier : Idée</p>
                        <p *ngIf ="credit.job === 'Characters'" > Métier : Création des personnages</p>
                        <p *ngIf ="credit.job === 'Novel'" > Métier : Nouvelliste</p>
                        <p *ngIf ="credit.job === 'Original Story'" > Métier : Histoire Originale</p>
                        <p *ngIf ="credit.job === 'Creator'" > Métier : Créatrice / Créateur</p>
                        <p *ngIf ="credit.job === 'Original Film Write'" > Métier : Film Original</p>
                        <p *ngIf="!credit.job">Métier : Inconnu</p>
                                
                    </div>
                        
                </mat-expansion-panel>
            </mat-accordion>
</div>
    