<!-- Carte des films -->
<mat-card
class="tv-card"
*ngFor="let peopl of people" 
[routerLink]="['/people-details', peopl.id]"
>
<img
  *ngIf="peopl.profile_path"
  mat-card-image
  src="http://image.tmdb.org/t/p/w185{{ peopl?.profile_path }}"
  alt=""
/>

<img
*ngIf="!peopl.profile_path"
mat-card-image
src="assets/Images/noPicture.png"
alt=""
/>
<mat-card-content>
   {{peopl.name}}
</mat-card-content>
</mat-card>

<!-- Pagination -->
<div class="row justify-content-center">
    <div class="col-1">
      <button (click)="movePage(-1)" *ngIf="page > 1" class="btn btn-primary btn-xs">Précédent</button>
    </div>
    <div class="col-2">
      <p *ngIf="maxPage === 1">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
        </p>
        <p *ngIf="maxPage === 2">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} </a>
        </p>
        <p *ngIf="maxPage === 3 && page === 1">
            <a style="color: blue;" (click)="movePage(page)">1 </a>
            <a style="color: whitesmoke;" (click)="movePage(page + 1)">2 </a>
            <a style="color: whitesmoke;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page == 2">
          <a style="color: whitesmoke;" (click)="movePage(page)">1 </a>
          <a style="color: blue;" (click)="movePage(page + 1)">2 </a>
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page === 3">
            <a style="color: whitesmoke;" (click)="movePage(page)">1 </a>
            <a style="color: whitesmoke;" (click)="movePage(page + 1)">2 </a>
            <a style="color: blue;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="page === 1 && maxPage > 3">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} ... </a> 
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page === 2 && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} ... </a>
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page > 2 && page < maxPage - 1 && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(1)">1 ... </a>
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} ... </a>
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page == maxPage - 1 && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(1)">1 ... </a>
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }}</a>
        </p>
        <p *ngIf="page === maxPage && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(1)">1 ... </a>
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }}</a>
        </p>
      </div>
      <div class="col-1">
          <button (click)="movePage(0)" *ngIf="page < maxPage" class="btn btn-primary btn-xs">Suivant</button>
      </div>
</div>

<router-outlet></router-outlet>