.tv-card{
    width: 100;
    display: inline-block;
    margin: 3em 1em 1em 2em;
  }
  .tv-card:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  img.mat-card-image{
    width: 185px;
    height: 294px;
  }
  .btn{
  display: inline-block;
  
  }
  