<!-- Filtre par genre  -->
<div *ngFor="let genre of genres" class="btn-group btn-group-justified">
    <button *ngIf="!selectedGenres.includes(genre.id)" (click)="selectG(genre.id)" type="button" class="btn btn-outline-info">{{ genre.name }}</button>
    <button *ngIf="selectedGenres.includes(genre.id)" (click)="deleteG(genre.id)" type="button" class="btn btn-info">{{ genre.name }}</button>
</div>

<!-- Filtre par date  -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Années</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let date of dates" (click)="selectD(date)" ngbDropdownItem>{{ date }}</button>
      </div>
    </div>
  </div>
  <button *ngIf="selectedDates.length > 0" style="background-color: whitesmoke;" type="button" class="btn btn-outline">{{ selectedDates[0] }} - {{ selectedDates[1] }}</button>
</div>

<!-- Tris  -->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Tri par</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="sort('1')" ngbDropdownItem>Popularité <img src="assets/Images/ArrowDown.png" /></button>
        <button (click)="sort('2')" ngbDropdownItem>Popularité <img src="assets/Images/ArrowUp.png" /></button>
        <button (click)="sort('3')" ngbDropdownItem>Alphabétique <img src="assets/Images/ArrowDown.png" /></button>
        <button (click)="sort('4')" ngbDropdownItem>Alphabétique <img src="assets/Images/ArrowUp.png" /></button>
        <button (click)="sort('5')" ngbDropdownItem>Date de sortie <img src="assets/Images/ArrowDown.png" /></button>
        <button (click)="sort('6')" ngbDropdownItem>Date de sortie <img src="assets/Images/ArrowUp.png" /></button>
      </div>
    </div>
  </div>
</div>

<mat-card
class="tv-card"
*ngFor="let tvs of tv"
[routerLink]="['/tv-details/',tvs.id]"
>
<img
  *ngIf="tvs.poster_path"
  mat-card-image
  src="http://image.tmdb.org/t/p/original{{ tvs?.poster_path }}"
  alt=""
/>

<img
*ngIf="!tvs.poster_path"
mat-card-image
src="../../../../assets/Images/noPicture.png"
alt=""
/>
</mat-card>

<!-- Pagination -->
<div class="row justify-content-center">
    <div class="col-1">
      <button (click)="movePage(-1)" *ngIf="page > 1" class="btn btn-primary btn-xs">Précédent</button>
    </div>
    <div class="col-2">
      <p *ngIf="maxPage === 1">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
        </p>
        <p *ngIf="maxPage === 2">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} </a>
        </p>
        <p *ngIf="maxPage === 3 && page === 1">
            <a style="color: blue;" (click)="movePage(page)">1 </a>
            <a style="color: whitesmoke;" (click)="movePage(page + 1)">2 </a>
            <a style="color: whitesmoke;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page == 2">
          <a style="color: whitesmoke;" (click)="movePage(page)">1 </a>
          <a style="color: blue;" (click)="movePage(page + 1)">2 </a>
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="maxPage === 3 && page === 3">
            <a style="color: whitesmoke;" (click)="movePage(page)">1 </a>
            <a style="color: whitesmoke;" (click)="movePage(page + 1)">2 </a>
            <a style="color: blue;" (click)="movePage(maxPage)">3</a>
        </p>
        <p *ngIf="page === 1 && maxPage > 3">
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} ... </a> 
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page === 2 && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} ... </a>
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page > 2 && page < maxPage - 1 && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(1)">1 ... </a>
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{ page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }} ... </a>
          <a style="color: whitesmoke;" (click)="movePage(maxPage)">{{ maxPage }}</a>
        </p>
        <p *ngIf="page == maxPage - 1 && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(1)">1 ... </a>
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }} </a>
          <a style="color: whitesmoke;" (click)="movePage(page + 1)">{{ page + 1 }}</a>
        </p>
        <p *ngIf="page === maxPage && maxPage > 3">
          <a style="color: whitesmoke;" (click)="movePage(1)">1 ... </a>
          <a style="color: whitesmoke;" (click)="movePage(page - 1)">{{ page - 1 }} </a>
          <a style="color: blue;" (click)="movePage(page)">{{  page }}</a>
        </p>
      </div>
      <div class="col-1">
          <button (click)="movePage(0)" *ngIf="page < maxPage" class="btn btn-primary btn-xs">Suivant</button>
      </div>
</div>