<mat-card
class="movie-card"
*ngFor="let film of films"
*ngFor="let tv of tv"
[routerLink]="['/movie-details/',film.id]"
>
<img
  *ngIf="film.poster_path"
  mat-card-image
  src="http://image.tmdb.org/t/p/w185{{ film.poster_path }}"
  alt=""
/>

<img
  *ngIf="!film.poster_path"
  mat-card-image
  src="assets/Images/noPicture.png"
  alt=""
/>
<mat-card-content>
  <h6 class="movie-title">{{ film?.title }}</h6>
</mat-card-content>
</mat-card>