
img.d-block.w-50[_ngcontent-lhl-c8]{
  height: 80%;
  width: 50%;
}
mdb-carousel{width: 50%;}
.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  img.d-block.w-50{
    height: 600px;
    margin-left : 25%;
  }

div.box.bb{
    width: 700px;
    margin-left: 30%;
}
div.box.bb1{
    width: 350px;
    margin-left: 60%;
}
div.box.bb2{
    width: 300px;
    margin-left: 140%;
}
  mat-card {
    background-color: white;
  }
  
  div.coloredContainerX > div, div.colorNested > div > div {
    padding: 8px;
    box-shadow: 0 2px 5px 0 rgba(52, 47, 51, 0.63);
    opacity: 0.9;
    color: #fff;
    text-align: center;
  }
  
  div.coloredContainerX > div:nth-child(10n+1), div.colorNested > div > div:nth-child(10n+1),
  div.box1 {
    background-color: #009688;
  }
  
  div.coloredContainerX > div:nth-child(10n+2), div.colorNested > div > div:nth-child(10n+2),
  div.box2 {
    background-color: #3949ab;
  }
  
  div.coloredContainerX > div:nth-child(10n+3), div.coloredChildren > div:nth-child(10n+3),
  div.colorNested > div > div:nth-child(10n+3), div.box3 {
    background-color: #9c27b0;
  }
  
  div.coloredContainerX > div:nth-child(10n+4), div.coloredChildren > div:nth-child(10n+4),
  div.colorNested > div > div:nth-child(10n+4) {
    background-color: #b08752;
  }
  
  div.coloredContainerX > div:nth-child(10n+5), div.coloredChildren > div:nth-child(10n+5),
  div.colorNested > div > div:nth-child(10n+5) {
    background-color: #5ca6b0;
  }
  
  div.coloredContainerX > div:nth-child(10n+6), div.coloredChildren > div:nth-child(10n+6),
  div.colorNested > div > div:nth-child(10n+6) {
    background-color: #8bc34a;
  }
  
  div.coloredContainerX > div:nth-child(10n+7), div.coloredChildren > div:nth-child(10n+7),
  div.colorNested > div > div:nth-child(10n+7) {
    background-color: #9c27b0;
  }
  
  div.coloredContainerX > div:nth-child(10n+8), div.coloredChildren > div:nth-child(10n+8),
  div.colorNested > div > div:nth-child(10n+8) {
    background-color: #c9954e;
  }
  
  div.coloredContainerX > div:nth-child(10n+9), div.coloredChildren > div:nth-child(10n+9),
  div.colorNested > div > div:nth-child(10n+9) {
    background-color: #ff5722;
  }
  
  div.coloredContainerX > div:nth-child(10n), div.coloredChildren > div:nth-child(10n),
  div.colorNested > div > div:nth-child(10n) {
    background-color: #03a9f4;
  }
  