<mdb-carousel width="50%" [animation]="'slide'">
  <mdb-carousel-item [routerLink]="['/movie-details/',film.id]" *ngFor="let film of filmsCine">
    <img class="d-block w-50" src="http://image.tmdb.org/t/p/original{{ film?.poster_path }}" alt="First slide">
  </mdb-carousel-item>
</mdb-carousel>
<router-outlet></router-outlet>
